body {
  margin: 0;
  background-color: #f2f5f9;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.recharts-cartesian-axis-tick {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #7b808c;
}

.recharts-responsive-container {
  overflow: scroll;
}
